[Unit]
Description=Deploy del servizio di Sensor Continuum
After=network.target docker.service
Wants=docker.service

[Service]
Type=simple
WorkingDirectory=/home/ec2-user
ExecStart=/bin/bash /home/ec2-user/$SCRIPT
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
